---
const generator = Astro.generator;
import ExtLink from "./ExtLink.astro";
import Bun from "bun";
---

Was built with <ExtLink href="https://astro.build/">{generator}</ExtLink>
and <ExtLink href="https://bun.sh/">Bun v{Bun.version}</ExtLink>
