---
const { name, created, size, description, md5, signature } = Astro.props;

const asset_path = "/cv/";

let pdf_filename = name;
let pdf_href = asset_path + pdf_filename;
let minisig_filename = signature;
let minisig_href = asset_path + minisig_filename;
---

<style>
    summary {
        font-weight: bold;
    }
    details {
        font-size: 80%;
    }
    span.hash {
        display: inline;
        font-family: 'Courier New', Courier, monospace;
        font-style: normal;
    }
</style>

<details open style="">
    <summary><a href={pdf_href} target="_blank">{pdf_filename}</a></summary>
    <span>{description}, {size}</span>
    <span>Created {created}</span>
    <span>
        Signature: <a href={minisig_href} target="_blank"
            >{minisig_filename}</a
        >
    </span>
    <span>Multihash: <span class="hash">d5{md5}</span></span>
</details>
