---
const { pdf, preview } = Astro.props;

const asset_path = "/cv/";

let pdf_href = asset_path + pdf;
let preview_href = asset_path + preview;
---

<style>
    img {
        border: solid 1px #00000030;
        filter: drop-shadow(3px 3px 4px #00000020);
    }
    @media (prefers-color-scheme: dark) {
        img {
            border: solid 1px #00000080;
            filter: drop-shadow(3px 3px 4px #55555590);
        }
    }
</style>

<a href={pdf_href} target="_blank">
    <img src={preview_href} />
</a>
