---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <h1>Uh Oh!</h1>
    <p>Sorry, partner, but that page simply does not exist.</p>
    <p>Click <a href="/">here</a> to head back home.</p>
</MainLayout>
