---
import "../styles/GlobalStyles.astro";
import MainLayout from "../layouts/MainLayout.astro";
import ViaMatrix from "../components/contact/ViaMatrix.astro";
import ViaEmail from "../components/contact/ViaEmail.astro";
import ViaTwitter from "../components/contact/ViaTwitter.astro";
import ViaBluesky from "../components/contact/ViaBluesky.astro";
---

<MainLayout>
    <h1>Contact Me</h1>
    <p>Grab me at any of these spots:</p>
    <ul class="spacious">
        <li>
            <ViaMatrix href="https://matrix.to/#/#epmills-contact-me:matrix.org" />
        </li>
        <li>
            <ViaBluesky href="https://bsky.app/profile/epmills.bsky.social" />
        </li>
        <li>
            <ViaTwitter href="https://x.com/_epmills" />
        </li>
        <li>
            <ViaEmail />
        </li>
    </ul>
</MainLayout>
