---
import humans from "../../static/cv/epmills-cv-humans.metadata.json";
import ats from "../../static/cv/epmills-cv-ats.metadata.json";
import MainLayout from "../layouts/MainLayout.astro";
import LinkedInLogo from "../components/contact/LinkedInLogo.astro";
import CvPreview from "../components/cv/CvPreview.astro";
import CvDetails from "../components/cv/CvDetails.astro";
import ExtLink from "../components/core/ExtLink.astro";
import InfoLogo from "../components/core/InfoLogo.astro";
---

<style>
    .shadow {
        border: 1px solid #ccc;
        position: relative;
        width: 300px;
        height: 116px;
        background-color: #ededed;
    }
    .shadow:before,
    .shadow:after {
        bottom: 13px;
        content: "";
        position: absolute;
        z-index: -1;
        -moz-transform: rotate(-11deg);
        box-shadow: 0 15px 5px rgba(0, 0, 0, 0.2);
        height: 50px;
        max-width: 50%;
        width: 50%;
        left: 3px;
    }
    .shadow:after {
        -moz-transform: rotate(11deg);
        left: auto;
        right: 2px;
    }
    .resume {
        width: 95%;
        height: 95%;
        border: solid 1px #999c9e22;
        background-color: #fcfcfc;
    }
    .plead {
        font-style: italic;
        padding: 0.35em;
        border: solid 1px #cccccc;
        background-color: #eebbbb50;
    }
    .plead::before {
        content: "\0FCA";
        margin-right: 0.25em;
        font-style: normal;
        font-weight: bold;
    }
    .intro {
        margin-top: 2em;
        font-weight: bolder;
    }
    .variants {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-gap: 0.5em;
        align-items: center;
    }
    .details p {
        padding: 0.25em 0.6em 0.25em 0.6em;
    }
    .human p {
        background-color: #b0d3a710;
        color: darkgreen;
    }
    .ats p {
        background-color: #bea7d310;
        color: darkmagenta;
    }
    .note {
        font-size: 80%;
    }
    @media (prefers-color-scheme: dark) {
        .plead {
            border-color: #665555;
            background-color: #552222;
        }
        .human p {
            background-color: #58e93020;
            color: rgb(196, 241, 196);
        }
        .ats p {
            background-color: #8f50ca30;
            color: rgb(238, 219, 238);
        }
    }
</style>
<MainLayout>
    <h1>Curriculum Vitae</h1>
    <p class="plead">
        I would ask that you be respectful and not redistribute this CV in any
        form without contacting me.
    </p>
    <p class="intro">Here's a list of stuff I've worked on over the years.</p>
    <p>
        For career-related communications, see my LinkedIn profile at:
        <br />
        <a href="https://www.linkedin.com/in/epmills/">
            <LinkedInLogo /> https://www.linkedin.com/in/epmills/
        </a>
    </p>
    <h2>Downloads</h2>
    <p>
        The entire collection of PDFs, previews, signatures and checksums is
        available by downloading
        <a href="/cv/epmills-cv.zip">this archive</a>.
    </p>
    <p>Or select an individual variant, below:</p>
    <div class="variants">
        <div class="human preview">
            <CvPreview pdf={humans.file.name} preview={humans.preview} />
        </div>
        <div class="human details">
            <p>
                Looking for an aesthetically-pleasing version of my resume?
                <br />
                Download this version.
            </p>
            <CvDetails
                name={humans.file.name}
                created={humans.file.created}
                size={humans.file.size}
                description={humans.file.description}
                md5={humans.file.md5}
                preview={humans.preview}
                signature={humans.signature}
            />
        </div>
        <div class="ats preview">
            <CvPreview pdf={ats.file.name} preview={ats.preview} />
        </div>
        <div class="ats details">
            <p>
                Need a version that can be scanned and is ATS-compatible?
                <br />
                Download this version.
            </p>
            <CvDetails
                name={ats.file.name}
                created={ats.file.created}
                size={ats.file.size}
                description={ats.file.description}
                md5={ats.file.md5}
                preview={ats.preview}
                signature={ats.signature}
            />
        </div>
    </div>
    <p class="note">
        <InfoLogo />
        Files are signed with
        <ExtLink href="https://jedisct1.github.io/minisign/">minisign</ExtLink>
        using this public key:
        <br />
        <code>RWTSvpFaVTLFSwkGgQg4pHZ7/P+DlZ4i3h1M+2OjXF4H/LCiLPGiu4KB</code>
    </p>
    <p class="note">
        <InfoLogo />
        For information about multihashes, see
        <ExtLink href="https://multiformats.io/multihash/" />
    </p>
</MainLayout>
