---
import MainLayout from "../layouts/MainLayout.astro";
import ExtLink from "../components/core/ExtLink.astro";
import { version } from "../../package.json";
---

<MainLayout>
	<h1>Welcome to {Astro.site?.hostname}</h1>
	<p>
		Welcome to version {version} of my latest website reboot.
	</p>
	<p>
		I'm a long-time software developer with a penchant for programming
		languages.
	</p>

	<p>
		It started with
		<ExtLink href="https://logothings.github.io/logothings/AppleLogo.html"
			>Apple Logo</ExtLink
		>
		and continues today with
		<ExtLink href="https://ziglang.org">Zig</ExtLink>
		and others.
	</p>
</MainLayout>
