---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
    <h1>Kinky Muffins</h1>
    <p>Coming soon.</p>
    <p>Don't get excited - it's neither kinky nor will there be muffins.</p>
    <p>Just an inside joke and a fond remembrance of our first exchange student, Sarah.</p>
</MainLayout>
