---
const { href } = Astro.props;
import ExtLink from "../core/ExtLink.astro";
import BlueskyLogo from "./BlueskyLogo.astro";
---

<p>
    <ExtLink href={href}>Send me a direct message</ExtLink>
    on
    <ExtLink href="https://bsky.app/"><BlueskyLogo /> Bluesky</ExtLink>
    <br />
    I'm around on the less fiercely-algorithmic Bluesky.
</p>
