---
import ExtLink from "../core/ExtLink.astro";
import { version } from "../../../package.json";

function createSHA256Hash(s: string): string {
    const hash = new Bun.CryptoHasher("sha256");
    hash.update(version);
    hash.update(":");
    hash.update(s);
    return hash.digest("hex");
}

const secret = "Everyone Knows This Is Nowhere";
const secrethash = createSHA256Hash(secret);

const recip = "hello@epmills.com";
const obf = recip
    .split("")
    .join("")
    .replace("+", ' "plus" ')
    .replace("@", ' "at" ')
    .replace(".", ' "dot" ');
const subj = `Hello via epmills.com`;
const body = `Just wanted to say hello.\r\n\r\nRef: ${secrethash}`;
const email_url = encodeURI(
    `mailto:${recip}?subject=${subj}&body=${body}&hash=${secrethash}`,
);
---

<style>
    .emailobf {
        background-color: #999c9e22;
        display: inline-block;
        font-size: 1rem;
    }
</style>
<p>
    <ExtLink href={email_url}>Send an email</ExtLink>
    to <b>{obf}</b>
</p>
