---
const { href } = Astro.props;
import ExtLink from "../core/ExtLink.astro";
import MatrixLogo from "./MatrixLogo.astro";
---

<p>
    <ExtLink href={href}>Send me a message</ExtLink>
    using
    <ExtLink href="https://matrix.org/"><MatrixLogo /> Matrix</ExtLink>
    <br />
    An open network for secure, decentralized communication
</p>
