---
const { href } = Astro.props;
import ExtLink from "../core/ExtLink.astro";
import XLogo from "./XLogo.astro";
---

<p>
    <ExtLink href={href}>Send me a direct message</ExtLink>
    on
    <ExtLink href="https://x.com/"><XLogo /> (formally Twitter)</ExtLink>
    <br />
    And you can still catch me on everyone's favorite hellscape (unless it's already
    burned to the ground).
</p>
