---
import "../styles/water.min.css";
import "../styles/GlobalStyles.astro";
import { version } from "../../package.json";
import HomeIcon from "../components/core/HomeIcon.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>epmills.com v{version}</title>
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }
            .nav-container {
                width: 100%;
                height: 3rem;
                font-size: 1.1em;
            }
            nav {
                background-color: #999c9e22;
                max-width: 1720px;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 4fr auto 1fr;
                align-items: center;
            }
            .left-menu {
                grid-column: 1;
                padding-top: 0.7rem;
                padding-bottom: 0.6rem;
            }
            .left-menu a {
                margin-left: 1rem;
                padding-left: 0.25rem;
                padding-right: 0.25rem;
                height: 3rem;
            }
            article {
                height: calc(90vh - 2rem);
                height: -o-calc(90vh - 2rem); /* opera */
                height: -webkit-calc(90vh - 2rem); /* google, safari */
                height: -moz-calc(90vh - 2rem); /* firefox */
                overflow-y: auto;
                overflow-x: hidden;
                padding-left: 1.5rem;
                padding-right: 1.5rem;
            }
        </style>
    </head>
    <body>
        <header class="nav-container">
            <nav>
                <div class="left-menu">
                    <a href="/"><HomeIcon /></a>
                    <a href="/cv">CV</a>
                    <a href="/km">KM</a>
                    <a href="/credits">Credits</a>
                    <a href="/contact">Contact</a>
                </div>
            </nav>
        </header>
        <article>
            <slot />
        </article>
    </body>
</html>
